.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__button {
    background-color: transparent;
    border-radius: 0.5rem;
    border: 2px solid #000000;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.6rem;
  }
}
